:root {
  --navbar-height: 60px;
  --footer-height: 60px;
  --sidebar-width: 260px;
  --primary-color: #333;
  --card-yellow: #ffd700;
  overflow: hidden
}

.app-container {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
}


.content-wrapper {
  flex: 1;
  display: flex;
  margin-top: var(--navbar-height);
  margin-bottom: var(--footer-height);
}

.main-content {
  flex: 1;
  padding: 2rem;
  transition: margin-left 0.3s ease;
}

.main-content.sidebar-open {
  margin-left: var(--sidebar-width);
}

@media (max-width: 768px) {
  .main-content.sidebar-open {
    margin-left: 0;
  }
}